.c-admin{
    top:@header-height + @bread-height !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    margin: 0;

    *:focus{
        outline: none !important;
        box-shadow:none !important;
    }

    .el-drawer{
        .size(100%);
        overflow-y:auto;
    }
}

.c-admin-mark{
    .el-radio{.mb(10px);}
}

.c-admin-wrapper{
    padding:20px;
    box-sizing: border-box;

    .u-refresh-btn {
        margin-left: 10px;;
    }
}

.c-admin-highlight-checkbox{
    .mr(10px) !important;
}
.c-admin-highlight-block{
    .y;
}
.c-admin-highlight-preview{
    .fz(14px);.bold;
    .ml(10px);
}

.c-admin-banner{
    .u-banner{
        .mt(5px);
    }
    .u-btn{
        .pointer;
    }
}
.c-admin-upload{
    .w(100%) !important;
    .x;

    .el-upload{
        .size(100%);
        box-sizing: border-box;
    }
    overflow: hidden;
}

.c-admin-info{
    display: flex;
}
.c-admin-type{
    .w(200px);
    .mr(10px);
}
.c-admin-author{
    flex:1;
}

.c-admin-buttons{
    .mt(20px);
    .x;
}

.c-admin-extend {
    .u-condition {
        .mt(10px);
        .el-input-group__prepend {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .u-map {
        .u-prepend {
            .fl;
            width: auto;
            min-width: 57px;
            box-sizing: border-box;
            .fz(12px,38px);
            text-align: center;
        }
        .el-select {
            .db;
            .ml(57px);
        }
        .el-input__inner {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

@media screen and (max-width:@ipad){
    .c-admin{
        .el-drawer{
            .w(100%) !important;
        }
    }
}
