.c-author {
    .u-author {
        .clearfix;
        .db;
        .mb(10px);
        .pr;
    }
    .u-avatar {
        .fl;
        .mr(15px);
        .size(68px);
    }
    .u-name {
        .lh(2.2);
        .bold;
        color: @darkblue;
        &:hover {
            color: #f39;
        }
        .nobreak;
    }
    .u-info{
        .pr;top:-4px;
        .h(68px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .u-bio {
        .mb(10px);
        .fz(12px, 2);
        .break(3);
        color: #888;
        padding: 0 5px;
    }
    .u-extend {
        display: flex;
    }
    .u-level {
        padding: 2px 8px;
        .fz(12px, 14px);
        color: #fff;
        background-color:#aaa;
        border-radius: 2px;

        &.lv-1{background-color: #32d3c4;}
        &.lv-2{background-color: #86c0fb;}
        &.lv-3{background-color: #33d9ff;}
        &.lv-4{background-color: #ffdb2a;}
        &.lv-5{background-color: #ffa739;}
        &.lv-6{background-color: #ff70b2;}
        &.lv-7{background-color: #ff3399;}
        &.lv-8{background-color: #f93c3c;}
    }
    .u-vip {
        .ml(5px);
        .db;
        .i-icon-vip {
            .db;
            vertical-align: baseline;
            padding: 2px 6px;
            .fz(12px, 14px);
            font-style: normal;
            border-radius: 2px;
            background-color: #ddd;
            color: #fff;
            &.on {
                background-color: #6f42c1;
            }
        }
    }
    .u-superauthor {
        margin-left: 4px;
        display: inline-block;
        vertical-align: -2px;
        img {
            width: 16px;
        }
    }
    .u-tips {
        .db;
        color: #555;
        font-size: 12px;
    }
    .u-link {
        border-top: 1px dashed #eee;
        border-bottom: 1px dashed #eee;
        a,
        div {
            .db;
            margin: 10px 5px;
            .fz(12px, 20px);
            color: #555;
        }
        a {
            &:hover {
                color: #f39;
            }
        }
        svg,
        img {
            .size(16px);
            .mr(6px);
            .y(-3px);
        }
    }
    .u-medals {
        padding: 0 2px;
    }

    .u-medal{
        img{
            .size(20px);
        }
    }
    .u-label {
        margin: 15px 0 10px 0;
        padding: 0 5px 10px 5px;
        i {
            .mr(5px);
        }
        span {
            .fz(13px);
        }
        border-bottom: 1px solid @border;
    }

    @keyframes living-icon-ani {
        0% {
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
        50% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
        to {
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }

    .u-tv-living {
        .dbi;
        .ml(10px);
    }

    .u-tv-living-icon {
        .h(10px);
    }

    .u-tv-living-icon-col {
        .dbi;
        transform-origin: bottom;
        width: 2px;
        height: 100%;
        margin: 0 1px;
        background-color: #fb7299;
        border-radius: 2px;
        animation: living-icon-ani 0.6s linear infinite;
    }
    .u-tv-living-icon-col.first {
        animation-delay: -0.2s;
    }
    .u-tv-living-icon-col.last {
        animation-delay: 0.2s;
    }

    .u-teams {
        .mt(10px);
        .u-team {
            .db;
            background-color: #f2f6fc;
            .mb(6px);
            &:hover {
                background-color: #e6f0fb;
                // color:@color-link;
            }
            padding: 4px 4px;
            .r(3px);
        }
        .u-team-logo {
            .size(24px);
            .y;
            .mr(4px);
            .r(4px);
        }
        .u-team-name {
            .fz(12px);
            color: #555;
        }
    }
}

.c-sidebar-left .c-author {
    margin: 10px;
}

.c-sidebar-right .c-author {
    margin: 15px;
}
