.c-authorposts {
    margin:0 10px;
    ul {
        list-style: none;
        margin: 0;
        padding:0;
    }
    li {
        .db;
    }
    a {
        .db;
        padding:3px 10px 3px 5px;
        .nobreak;
        .fz(12px,2);
        color:#666;
        border-bottom:1px solid transparent;
        &:hover{
            color:@pink;
            // background-color:#fff;
            border-bottom:1px solid @border;
        }
    }
    .u-icon {
        .size(16px);
        .y;
        .mr(5px);
    }
    .u-label{
        margin:15px 0 10px 0;
        padding:0 5px 10px 5px;
        i{
            .mr(5px);
        }
        span{
            .fz(13px);
        }
        border-bottom:1px solid @border;
    }
    // .u-label .el-divider__text{
    //     padding:5px 10px;
    //     .fz(12px);
    //     color: #888;
    //     // font-weight: 300;
    // }
}

.c-sidebar-left .c-authorposts{

}

.c-sidebar-right .c-authorposts{
    
}