.c-author {
    .u-author {
        .clearfix;
        .db;
    }
    .u-avatar {
        .r(4px);
        .fl;
        .mr(10px);
        .size(68px);
    }
    .u-name {
        .lh(2);
        .bold;
        color:@darkblue;
        &:hover {
            color: #f39;
        }
    }
    .u-bio {
        margin: 10px 0;
        .fz(12px, 2);
        .break(3);
        color:#888;
        .break(3);
    }
    .u-link {
        border-top: 1px dashed #eee;
        border-bottom: 1px dashed #eee;
        a,span {
            .db;
            margin: 10px 7px;
            .fz(12px, 20px);
            color:#555;
            
        }
        a{
            &:hover {
                color: #f39;
            }
        }
        svg,img{
            .size(16px);
            .mr(6px);
            .y(-3px);
        }
    }

    .u-label{
        margin:15px 0 10px 0;
        padding:0 5px 10px 5px;
        i{
            .mr(5px);
        }
        span{
            .fz(13px);
        }
        border-bottom:1px solid @border;
    }
}

.c-sidebar-left .c-author{
    margin:10px;
}

.c-sidebar-right .c-author{
    margin:15px;
}

