.c-author {
    .u-author {
        .clearfix;
        .db;
        .mb(10px);
    }
    .u-avatar {
        .fl;
        .mr(15px);
        .size(68px);
    }
    .u-name {
        .lh(2);
        .bold;
        color: @darkblue;
        &:hover {
            color: #f39;
        }
    }
    .u-bio {
        .mb(10px);
        .fz(12px, 2);
        .break(3);
        color: #888;
        padding: 0 5px;
    }
    .u-link {
        border-top: 1px dashed #eee;
        border-bottom: 1px dashed #eee;
        a,
        div {
            .db;
            margin: 10px 5px;
            .fz(12px, 20px);
            color: #555;
        }
        a {
            &:hover {
                color: #f39;
            }
        }
        svg,
        img {
            .size(16px);
            .mr(6px);
            .y(-3px);
        }
    }
    .u-medals {
        padding: 0 2px;
    }

    .u-label {
        margin: 15px 0 10px 0;
        padding: 0 5px 10px 5px;
        i {
            .mr(5px);
        }
        span {
            .fz(13px);
        }
        border-bottom: 1px solid @border;
    }

    @keyframes living-icon-ani {
        0% {
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
        50% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
        to {
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }

    .u-tv-living {
        .dbi;
        .ml(10px);
    }

    .u-tv-living-icon {
        .h(10px);
    }

    .u-tv-living-icon-col {
        .dbi;
        transform-origin: bottom;
        width: 2px;
        height: 100%;
        margin: 0 1px;
        background-color: #fb7299;
        border-radius: 2px;
        animation: living-icon-ani 0.6s linear infinite;
    }
    .u-tv-living-icon-col.first {
        animation-delay: -0.2s;
    }
    .u-tv-living-icon-col.last {
        animation-delay: 0.2s;
    }

    .u-teams {
        .mt(10px);
        .u-team {
            .db;
            background-color: #f2f6fc;
            .mb(5px);
            &:hover span {
                color: @pink;
            }
        }
        .u-teamlogo {
            .size(32px);
            .y;
            .mr(10px);
        }
        .u-teamname {
            .fz(12px);
            color: #555;
        }
    }
}

.c-sidebar-left .c-author {
    margin: 10px;
}

.c-sidebar-right .c-author {
    margin: 15px;
}
