.c-authorposts {
    margin:0 10px;
    ul {
        list-style: none;
        margin: 0;
        padding:0;
    }
    li {
        padding:2px 10px;
    }
    a {
        .db;
        .nobreak;
        .fz(14px,2);
        color:#666;
        &:hover{
            color:@primary;
        }
    }
    .u-icon {
        .size(16px);
        .y;
        .mr(5px);
    }
    .u-label{
        margin:15px 0;
    }
    .u-label .el-divider__text{
        padding:5px 10px;
        .fz(12px);
        color: #888;
        // font-weight: 300;
    }
}