// @import '../../node_modules/@jx3box/jx3box-common/css/var.less';
// @import '../../node_modules/csslab/base.less';
@import "./icon.less";

body {
    padding-top: @header-height;
    color: @color;
}
// 三角
.u-delta {
    .pa;
    background-clip: padding-box;
    background-color: #fff;
    color: @color;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    right: -5px;
    list-style: none;
    margin: -6px 0 0 0;
    position: absolute;
    z-index: 820;
    top: 100%;

    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: auto;
        right: 14px;
        top: -16px;
        border: 8px solid transparent;
        border-bottom-color: rgba(27, 31, 35, 0.15);
    }

    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: auto;
        right: 15px;
        top: -14px;
        border: 7px solid transparent;
        border-bottom-color: #fff;
    }
}

.c-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 601;
    width: 100%;
    height: @header-height;
    background-color: @bg-black;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.c-header.isOverlay {
    background-color: rgba(0, 0, 0, 0.85);
}

.c-header-inner {
    // padding: 16px;
    *zoom: 1;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//logo
.c-header-logo {
    display: block;
    float: left;
    padding: 16px 15px 16px 10px;
    .pointer;
    user-select: none;

    .u-pic {
        .db;
        width: @logo-size;
        height: @logo-size;
        margin-right: 5px;
        float: left;

        svg {
            .size(100%);
            fill: #fff;
        }
        transition: 0.3s ease-in-out;
    }
    // &:hover {
    // background-color:@primary;
    // .u-pic {
    //     // transform: rotateZ(180deg);
    //     svg {
    //         fill: #0cf;
    //     }
    // }
    // .u-txt {
    //     color: #0cf;
    // }
    // }
    .u-txt {
        color: #fff;
        font-family: Consolas;
        font-size: 20px;
        line-height: @logo-size;
        // font-style: italic;
    }

    // margin-right: 5px;
}
@media screen and (max-width: @phone) {
    .c-header-logo {
        padding-right: 0;
        .u-pic {
            margin: 0;
        }
        .u-txt {
            display: none;
        }
        margin-right: 0;
    }
}

//怀旧服
.c-header-origin {
    .fl;
    margin: 15px 0;
    .mr(10px);
    .pr;
    background-color: #7d7d7d;
    border: 2px solid #303133;
    border-radius: 4px;
    overflow: hidden;
    .u-active {
        .db;
        .size(50%, 100%);
        background: @color-link;
        &:hover {
            background-color: #3590f7;
        }
        .pa;
        .lt(0);

        transition: all 0.2s ease-in-out;
        &.isOffset {
            transform: translateX(100%);
        }
    }
    .u-item {
        .dbi;
        .y(top);
        font-size: 14px;
        color: #fff;
        .pointer;
        padding: 5px 10px;
        .pr;
        .z(1);
    }
    .on {
        cursor: default;
    }
}
@media screen and (max-width: @phone) {
    .c-header-origin {
        .ml(10px);
        .mt(16px);
    }
}

//搜索
.c-header-search {
    float: left;
    width: 220px;
    padding: 16px 0;

    .u-form {
        position: relative;
    }

    .u-text {
        background-color: hsla(0, 0%, 100%, 0.125);
        // background-color:#636872;
        border: 0;
        box-shadow: none;
        color: #fff;
        height: @logo-size;
        box-sizing: border-box;
        border-radius: 3px;
        font-size: 14px;
        line-height: @logo-size;
        padding: 0.625em 0.4375em;
        width: 100%;

        &:focus {
            background-color: #fff;
            color: #1a1a1a;
            outline: 0;
        }
        transition: background-color 0.1s ease-in;
    }

    .u-btn {
        border: 0;
        position: absolute;
        right: 8px;
        top: 6px;
        display: block;
        width: 19px;
        height: 20px;
        padding: 0;
    }

    margin-right: 10px;
}
@media screen and (max-width: @phone) {
    .c-header-search {
        // float: none;
        // width: auto;

        // margin-left: @logo-size + 20px;
        // margin-right: 140px;
        .none;
    }
}

//菜单
.c-header-nav {
    .fl;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    .clearfix;
    .u-item-box {
        .fl;
    }
    .u-item {
        .pointer;
        display: block;
        font-size: 14px;
        line-height: @logo-size;
        color: #fff;
        // font-weight:300;
        &:hover {
            background-color: darken(@primary, 10%);
        }
        &.on {
            // background-color: @primary;
            .pr;
            &:after {
                content: "";
                .db;
                border-bottom: 3px solid @primary;
                .pa;
                .lb(0);
                .w(100%);
            }
            &:hover {
                background-color: @primary;
            }
        }
        padding: 16px 15px;
        transition: 0.1s ease-in;
        i {
            .none;
        }
    }
    .u-menu {
        .fl;
        .el-icon-arrow-down {
            .fz(12px);
            color: #8e8e8e;
        }
    }
}
.c-header-menu {
    .h(auto) !important;
    .u-menu-item {
        padding: 0;
        a {
            color: @color;
            line-height: 16px;
            padding: 10px 30px;
            .db;
            span {
                .fz(12px);
                color: #999;
            }
        }
    }
    .mt(0px) !important;
}
@media screen and (max-width: @ipad) {
    .c-header-nav {
        display: none;
    }
}

//用户相关
.c-header-user {
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .u-dropdown {
        border-bottom: 0 solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top-style: solid;
        border-top-width: 4px;
        content: "";
        display: inline-block;
        height: 0;
        vertical-align: middle;
        width: 0;
    }

    .u-avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .u-menu {
        .u-delta;
        padding: 5px 0;
        width: 160px;

        a {
            display: block;
            line-height: 21px;
            color: #454545;
            &:hover {
                color: #fff;
            }
            outline: none;
            text-decoration: none;
            overflow: hidden;
            padding: 4px 10px 4px 16px;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                background-color: @color-link;
            }
        }

        hr {
            .mt(2px);
            .mb(2px);
        }
    }

    .i-icon-vip {
        .dbi;
        vertical-align: baseline;
        padding: 2px 5px;
        .fz(12px, 14px);
        font-style: normal;
        border-radius: 2px;
        background-color: #ddd;
        color: #fff;
        &.on {
            background-color: #6f42c1;
        }
    }
    .u-expire,
    .u-vip-type {
        .fz(12px);
        // color:#999;
        .ml(5px);
    }
    .u-vip-left {
        color: #999;
        .ml(5px);
    }

    .u-superauthor-profile {
        width: 16px;
        vertical-align: -2px;
        display: inline-block;
        margin-right: 3px;
    }

    .off {
        filter: grayscale(100%);
    }
}

//消息面板
.c-header-msg {
    position: relative;
    height: 100%;

    .u-msg {
        .h(100%);
        .flex;
        align-items: center;

        padding: 0 10px;
        &:hover {
            opacity: 0.7;
        }
        cursor: pointer;
    }
    .u-icon-msg {
        // .mt(10px);
        width: 17px;
        height: 17px;
        display: block;
        .pr;
        top: 1px;
        // margin-top: 9px;
        svg {
            width: 100%;
            height: 100%;
        }
        .pr;
    }
    .u-pop {
        width: 10px;
        height: 10px;
        color: #fff;
        background-image: linear-gradient(#54a3ff, #006eed);
        background-clip: padding-box;
        border: 2px solid #24292e;
        border-radius: 50%;
        position: absolute;
        right: -5px;
        top: -6px;
    }
    .u-list {
        // .none;
        position: absolute;
        right: -2px;
        top: 100%;
        margin-top: -6px;
        z-index: 100;
        background-color: #fff;
        box-sizing: content-box;
        width: 300px;
        min-height: 80px;
        max-height: 210px;
        border-radius: 4px;
        box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
        color: #666;
        border: 1px solid #ccc;
        padding: 10px;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            *zoom: 1;
            &::after {
                content: "";
                flex: 1;
            }
            // &:after {
            //     content: "";
            //     display: table;
            //     clear: both;
            // }
        }

        // overflow-y:auto;
        // &::-webkit-scrollbar {
        //     width: 4px;
        // }
        // &::-webkit-scrollbar-track,&::-webkit-scrollbar-track-piece {
        //     background-color: #fafafa;
        //     border-radius: 6px;
        // }
        // &::-webkit-scrollbar-thumb {
        //     background-color: #eee;
        //     border-radius: 6px;
        // }
        // &::-webkit-scrollbar-button,&::-webkit-scrollbar-corner,&::-webkit-resizer {
        //     display: none;
        // }

        li {
            margin-bottom: 5px;
            padding-bottom: 10px;
            *zoom: 1;
            // &:after {
            //     content: "";
            //     display: table;
            //     clear: both;
            // }
            border-bottom: 1px solid #eee;

            &.isdone {
                color: #999;
            }
        }

        span {
            display: block;
            white-space: nowrap;
            word-wrap: normal;
            word-break: keep-all;
            text-overflow: ellipsis;
            overflow: hidden;
            font-style: 13px;
            line-height: 1.6;
            &.u-read {
                color: #999;
            }
        }

        em {
            float: right;
            font-size: 12px;
            &.u-unread {
                // color:@color-link;
                cursor: pointer;
                // &:hover{
                color: #fff;
                background-color: @color-link;
                &:hover {
                    background-color: lighten(@color-link, 10%);
                }
                // }
            }
            &.u-read {
                color: #999;
            }
            padding: 1px 5px;
            border-radius: 2px;
        }
        .markall {
            border: 1px solid #ddd;
            border-radius: 2px;
            cursor: pointer;
            &:hover {
                color: #666;
                border-color: #ccc;
            }
        }

        time {
            font-size: 12px;
            color: #999;
            display: block;
            margin-top: 3px;
            float: left;
        }

        .u-misc {
            padding: 5px 0 0 0;
        }

        .u-more,
        .u-feedback {
            font-size: 12px;
            &:hover {
                box-shadow: 0 1px 0 @color-link;
            }
            //.fl;
        }

        .u-all {
            float: right;
        }

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: auto;
            right: 9px;
            top: -15px;
            border: 8px solid transparent;
            border-bottom-color: #fff;
        }

        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            left: auto;
            right: 10px;
            top: -14px;
            border: 7px solid transparent;
            border-bottom-color: #fff;
        }
    }
    &.on {
        .u-list {
            display: block;
        }
    }
    .u-null {
        padding: 20px 0;
        text-align: center;
    }
}

@media screen and (max-width: @ipad) {
    .c-header-msg {
        display: none;
    }
}

//操作面板
.c-header-panel {
    position: relative;
    height: 100%;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;

    .u-pop-content {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.35s, opacity 0.35s linear;
    }

    &:hover {
        .u-pop-content {
            opacity: 1;
            visibility: visible;
        }
    }

    .u-post {
        padding: 0 10px;
        height: 100%;
        .flex;
        align-items: center;
    }

    .u-add {
        fill: #fff;
        vertical-align: middle;
        // margin-right: 4px;
    }

    &.on {
        .u-menu {
            display: block;
        }
    }

    &:hover {
        .u-add,
        .u-dropdown {
            opacity: 0.7;
        }
    }
}

@media screen and (max-width: @ipad) {
    .c-header-panel {
        &:not(&.c-header-info) {
            display: none;
        }
    }
}

// 用户资产
.c-header-assets {
    position: relative;
    height: 100%;

    .u-coin {
        .db;
        .size(15px);
        * {
            fill: #fff !important;
        }
    }
    .u-asset {
        padding: 0 10px;
        height: 100%;
        .flex;
        align-items: center;
        &:hover {
            .tm(0.7);
        }
    }

    .u-icon {
        .size(16px);
        // font-size: 15px;
        display: block;
        // height: 32px;
        padding: 24px 10px 10px 10px;
        .pointer;
    }

    .u-assets {
        .u-delta;
        width: 200px;
        padding: 10px 0;
    }

    .u-detail {
        .u-item {
            .db;
            font-size: 12px;
            color: #454545;
            // color:#c0c4cc;
            // .flex;
            // align-items: center;
            // justify-content: space-between;
            padding: 5px 15px;

            &:hover {
                background-color: @color-link;
                .u-label {
                    color: #fff;
                }
                .u-value {
                    color: #fff;
                }
            }

            .u-item-primary {
                .flex;
                align-items: center;
                justify-content: space-between;
            }

            .u-label {
                color: #454545;
            }

            .u-value {
                font-weight: bold;
                .ml(5px);
                // color: #fba524;
                // color: #e9015f;
                color: @color-link;
            }
            .u-item-extend {
                .none;
                a {
                    // color:#fff;
                    .ml(5px);
                    &:hover {
                        // color:#c0c4cc;
                        color: @pink;
                    }
                }
            }
        }
    }
}

// vip
.c-header-vip {
    height: 100%;
    .u-vip {
        padding: 0 10px;
        height: 100%;
        .flex;
        align-items: center;
    }
}

// 管理菜单
.c-header-manage {
    height: 100%;
    .u-manage {
        padding: 0 10px 0 8px;
        height: 100%;
        .flex;
        align-items: center;
        svg {
            .size(19px);
        }
    }
}

//登录、注册
.c-header-login {
    margin: 16px 5px 16px 0;

    transition: 0.4s;
    *zoom: 1;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    border: 1px solid @border-hr;
    border-radius: 3px;

    .u-default,
    .u-extend {
        float: left;
    }

    // .u-default{
    //     border-right:1px solid #eee;
    // }
    .u-default {
        display: block;
        line-height: @logo-size - 2px;
        padding: 0 8px;
        color: #fff;

        &:hover {
            color: hsla(0, 0%, 100%, 0.75);
        }
    }

    em {
        color: #a4acb5;
        .fl;
        font-style: normal;
        .lh(30px);
    }

    .u-extend {
        //background-color: hsla(0,0%,100%,.125);
        background-color: #fafafa;
        height: @logo-size - 2px;
        padding-left: 5px;

        .c-passport {
            *zoom: 1;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            padding: (@logo-size - 24px - 2px) / 2 0;
        }

        a {
            float: left;
            display: block;
            margin-right: 5px;
        }

        img {
            vertical-align: middle;
            width: 24px !important;
            height: auto;
        }

        display: none;
    }

    // .u-register {
    // background-color: @primary;
    // .mr(10px);
    // }
}

.c-header-info {
    height: 100%;
    .flex;
    align-items: center;

    .c-header-userdata {
        .u-delta;
        top: calc(100% + 17px);
        padding: 5px 0;
        width: 400px;
    }
}

// 用户信息
.c-header-profile {
    cursor: pointer;
    position: relative;
    padding: 4px 5px 2px 6px;

    .u-menu {
        margin-top: 8px;
    }
    .u-me {
        .nobreak;
        em {
            font-style: normal;
            color: #999;
            font-size: 12px;
        }
        b {
            .mr(3px);
        }
    }
    .u-vip {
        .u-icon-vip {
            .y(-2px);
        }
    }
    .u-name {
        line-height: 30px;
        padding: 0 16px;
        white-space: nowrap;
        word-wrap: normal;
        word-break: keep-all;
        text-overflow: ellipsis;
        overflow: hidden;
        b {
            font-weight: bold;
            display: block;
            float: left;

            white-space: nowrap;
            word-wrap: normal;
            word-break: keep-all;
            text-overflow: ellipsis;
            overflow: hidden;

            max-width: 60px;
        }
        span {
            color: #666;
            letter-spacing: 0.5px;
            margin-left: 3px;
        }
        cursor: default;
    }
    .u-avatar {
        vertical-align: middle;
        margin-right: 2px;
    }

    hr {
        margin: 8px 0;
        border-top: 1px solid @border-hr;
    }

    &.on {
        .u-menu {
            display: block;
        }
    }
    .u-hr {
        border-top: 1px solid @border-hr;
    }

    &:hover {
        .u-dropdown {
            opacity: 0.7;
        }
    }
}

.c-header-userdata {
    background-clip: padding-box;
    background-color: #fff;
    color: #3d454d;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    right: 0;
    list-style: none;
    position: absolute;
    z-index: 820;
    top: 100%;
    width: 400px;
    margin-top: 18px;
    margin-right: -10px;

    .u-profile {
        background-color: #f4f6f7;
        padding: 10px;
    }

    .u-basic {
        .flex;
        align-items: center;
        gap: 3px;
    }

    .u-displayname {
        .fz(15px);
        .nobreak;
        max-width: 200px;
        color: @color;
        .bold;
    }

    .u-id {
        font-size: 12px;
        color: #999;
        margin-top: 6px;
        b {
            color: @color;
        }
    }
    .u-copy {
        margin-left: 5px;
        .pointer;

        &:hover {
            color: @primary;
        }
    }

    .u-actions {
        width: 100%;
        .flex;

        .el-button {
            border-radius: 0;
            flex: 1;

            &:first-of-type {
                border-left-width: 0;
            }
            &:last-of-type {
                border-right-width: 0;
            }
        }
    }

    .u-other {
        padding: 10px 5px;
        .u-item {
            display: block;
            padding: 5px 10px;
            color: #454545;

            &:hover {
                background: @primary;
                color: #fff;
            }

            i {
                .mr(5px);
            }
        }
    }

    .u-logout {
        padding: 0 10px 10px 10px;
        .mt(10px);

        .el-button {
            width: 100%;
        }
    }
}

@media print {
    .c-header {
        .none;
    }
}

@media screen and (max-width: @phone) {
    .env-app {
        .c-header {
            .none;
        }
        body {
            padding-top: 0;
        }
    }
}

.c-header-jx3box {
    top: @header-height;
    left: 0;
}

// tooltip
.c-header-tooltip {
    margin-top: -5px !important;
}
