.w-like2 {
    .pointer;
    .dbi;
    .pr;
    .u-icon {
        .size(26px);
        .y;
        .pr;
    }
    .u-count {
        color: #888;
        .ml(10px);
        top: 4px;
        .pr;
    }

    &.disabled{
      .tm(0.5);
      cursor: default;
    }
}
