.w-qrcode{
    .dbi;
    .u-icon{
        .mr(5px);
        .size(14px);
        .y(-2px);
        fill:@color;
    }
    .u-text{
        .fz(13px);
        user-select: none;
    }
    .pointer;
    transition:0.1s ease-in-out;
    &:hover{
        color:@pink;
        .u-icon{
            fill:@pink;
        }
    }

    .u-pic{
        .none;
        .pa;.mt(5px);

        padding: 10px;
        border: 1px solid #eee;
        z-index: 1;
        background: #fff;
        border-radius: 3px;
    }
    &.on{
        .u-pic{
            .db;
        }
    }
}