.w-filter-topics {
    display: inline-block;
    .u-toggle {
        color: #606266;
        font-size: 12px;
        .pointer;
    }
}

.w-filter-topic__pop {
    .u-group-title {
        color: #606266;
        padding-bottom: 10px;
    }
    .u-group {
        .flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .u-tag {
        .pointer;
    }
}
