/* 表格 */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
    overflow-x: auto;
    max-width: 100%;
    display: block;
    border:none;

    td,
    th {
        padding: 6px 10px;
    }
    td {
        border: 1px solid #eee;
    }
    // th {
    //     // background-color: #fafbfc;
    //     // font-weight: 600;
    // }
    tr:nth-child(2n + 1) {
        background-color: #fafbfc;
    }
    tr:first-child {
        // background-color: #f1f8ff;
        background-color: #fafbfc;
        font-weight: 600;

        // td {
        //     border: 1px solid #c8e1ff;
        // }
    }
}